@import url("https://fonts.googleapis.com/css2? family= Anton & family= Indie+Flower & family= Roboto:wght@300 & display=swap");
@import url(https://fonts.googleapis.com/css?family=Roboto:400);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'anton', sans-serif;
  font-weight: 400; }

.cabecera {
  top: 0;
  position: sticky;
  z-index: 1; }

.logo {
  height: 80px; }

.colorfondo {
  background-color: #080808; }

.flexible {
  justify-content: space-evenly;
  width: 100%; }

.nav-link__turnos {
  text-decoration: none;
  border-style: solid;
  border-radius: 15px;
  background-color: #d14c4c;
  color: white; }

.nav-link__turnos:hover {
  color: #9b3838;
  transition: 0.5s; }

.nav-link:hover {
  color: gray;
  transition: 0.3s; }

.navbar-collapse {
  padding: 0 16px;
  text-align: center; }

.mindex {
  display: flex;
  flex-direction: column;
  height: 120vh;
  position: relative;
  overflow: hidden; }
  .mindex .mindex__titulo {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    color: white; }
    .mindex .mindex__titulo .mindex__titulo__subtitulo {
      font-size: 1.5rem; }
  .mindex .mindex__video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: -1; }

.titulo__estilistas {
  text-align: center;
  color: white; }

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center; }

.marketing h2 {
  font-weight: 400; }

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem; }

.mlabarberia {
  display: flex;
  width: 100%;
  background-color: white; }
  .mlabarberia__imagen {
    width: 50vw;
    height: 80vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.678); }
  .mlabarberia__historia {
    text-align: center;
    margin: auto;
    width: 50vw; }

.mgaleria {
  background-color: white; }
  .mgaleria .mgaleria__titulo {
    margin-top: 20px;
    text-align: center; }
  .mgaleria .mgaleria__formato {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 20px; }
    .mgaleria .mgaleria__formato .mgaleria__formato__item {
      transition: height 2s, width 1s;
      width: 20%;
      height: 35%;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
      .mgaleria .mgaleria__formato .mgaleria__formato__item:hover {
        height: 400px;
        width: 400px; }

.mgaleria__formato__item img {
  width: 100%;
  height: 100%; }

.servicios {
  background-color: rgba(102, 102, 102, 0.849);
  height: 90vh; }
  .servicios .servicios__titulo {
    margin: auto;
    border-style: solid;
    width: fit-content; }
  .servicios .servicios__cards {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px; }
    .servicios .servicios__cards .card {
      background-image: linear-gradient(to bottom, #666465, #716f70, #7c7b7c, #878787, #939393, #9c9c9e, #a5a6a9, #aeb0b4, #b4bac0, #b9c6cb, #bdd1d4, #c4dcda);
      display: flex;
      align-items: center;
      justify-content: center; }
      .servicios .servicios__cards .card .card-img-top {
        padding-top: 20px;
        height: 10vh;
        width: 5vw; }
    .servicios .servicios__cards .card-title {
      font-size: 1.5rem;
      text-align: center; }
  .servicios .btn-primary {
    display: flex;
    align-items: center;
    justify-content: center; }

.main-turnos {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/img/Movember-vintage-frame-design-vector-_-premium-image-by-rawpixel_com-_-taus-_-Vintage-frames_-Barber.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .main-turnos .main-turnos__form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 20px;
    padding: 60px;
    max-width: 500px;
    background-color: #E7E7E7; }
    .main-turnos .main-turnos__form .main-turnos__form__tituloform {
      font-size: 2rem;
      text-align: center; }
    .main-turnos .main-turnos__form .boton {
      display: block;
      background-color: #0095eb;
      padding: 10px 45px 10px 45px;
      border: 0;
      font-size: 1em;
      color: white;
      font-family: "Roboto", sans-serif; }

.piedepagina {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 40vh; }
  .piedepagina__mapa {
    margin-top: 30px; }
  .piedepagina__datos-contacto {
    margin-top: 60px;
    color: #f4f4f5; }
  .piedepagina__social-media, .piedepagina__datos-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .piedepagina__social-media__titulo-redes {
      color: white; }
    @media (max-width: 768px) {
      .piedepagina__social-media, .piedepagina__datos-contacto {
        margin-bottom: 30px; } }

@media (max-width: 768px) {
  .mindex {
    height: auto;
    padding: 32px; }
    .mindex__titulo {
      margin-top: 10px; }
      .mindex__titulo__subtitulo {
        margin-top: 10px;
        font-size: 1.25rem; }
    .mindex__video video {
      height: 100%; }
  .mlabarberia {
    display: flex;
    flex-direction: column; }
    .mlabarberia__historia {
      width: 100%;
      height: auto;
      padding: 32px; }
      .mlabarberia__historia__titulo {
        margin-top: 10px; }
    .mlabarberia__imagen {
      width: 100%;
      height: auto; }
  .mgaleria__formato {
    display: flex;
    flex-direction: row;
    height: auto; }
    .mgaleria__formato__item {
      height: 15vh;
      width: 40vw; }
  .servicios {
    height: 170vh; }
    .servicios__cards {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      row-gap: 40px; }
  .main-turnos {
    height: auto;
    background-image: none;
    margin-top: 10px; }
    .main-turnos__form {
      max-width: 350px;
      background-color: #E7E7E7; }
      .main-turnos__form__tituloform {
        font-size: 2rem;
        text-align: center; }
  .piedepagina {
    display: flex;
    margin-top: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px 0; } }
