
.piedepagina{
    background-color: $color-primario;
    @import "mixins";
    @include flex-direction-justificar (row,space-around);
    height: 40vh;
    .piedepagina__mapa{
        margin-top: 30px;
    }
    .piedepagina__datos-contacto{
        @extend .piedepagina__social-media;
        margin-top: 60px;
        color: rgb(244, 244, 245);
          
    }
    .piedepagina__social-media{
        @import "mixins";
        @include flex-direction-justificar (column);
        align-items: center;
        .piedepagina__social-media__titulo-redes{
            color: white;
        }
    }
    
}



      




