
.piedepagina{
    background-color: $color-primario;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40vh;
    .piedepagina__mapa{
        margin-top: 30px;
    }
    .piedepagina__datos-contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        color: rgb(244, 244, 245);
          
    }
    .piedepagina__social-media{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .piedepagina__social-media__titulo-redes{
            color: white;
        }
    }
    
}



      




