
.piedepagina{
    background-color: $color-primario;
    @import "mixins";
    @include flex-direction-justificar (row,space-around);
    height: 40vh;
    &__mapa{
        margin-top: 30px;
    }
    &__datos-contacto{
        @extend .piedepagina__social-media;
        margin-top: 60px;
        color: rgb(244, 244, 245);
          
    }
    &__social-media{
        @import "mixins";
        @include flex-direction-justificar (column);
        align-items: center;
        &__titulo-redes{
            color: white;
        }
        @media (max-width:768px){
            margin-bottom: 30px;
        }
    }
}



      




