.cabecera{
    top:0;
    position: sticky;
    z-index: 1;    
}

.logo{
    height: 80px;
  
}
.colorfondo{
    background-color: rgb(8, 8, 8);
}


.flexible{
    justify-content: space-evenly;
    width: 100%;
    
}

.nav-link__turnos{
    text-decoration: none;
    border-style: solid;
    border-radius: map-get($bordes, border-radius-quincepx );
    background-color: rgb(209, 76, 76);
    color:white;    
   
}
.nav-link__turnos:hover{
    color:rgb(155, 56, 56);
    transition: 0.5s;
}

.navbar-toggler{
    background-color: white;
}

.nav-link:hover{
    color: gray;
    transition: 0.3s;
}


