
.Mgaleria{
    background-color: $color-secundario;
    .Mgaleria__titulo{
        margin-top: 20px;
        text-align: center;
    }
    .Mgaleria__formato{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        gap: 15px;
        .Mgaleria__formato__item{
            width: 30%;
            height: 45%;
            border-radius: map-get($bordes, border-radius-cincopx );
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            
            
            
        }
        
    }
    

}

.Mgaleria__formato__item img{
    width: 100%;
    height: 100%;
}
