.mindex{
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/img/imageninicio.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .mindex__titulo{
        color: whitesmoke;
        font-size: 2rem;
        
        
    }
}


