

.servicios{
   background-color: rgba(102, 102, 102, 0.849);
    height: 90vh;
    .servicios__titulo{
        margin:auto;
        border-style: solid;
        width:fit-content;
}
.servicios__cards{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
    .card{
        background-image: linear-gradient(to bottom, #666465, #716f70, #7c7b7c, #878787, #939393, #9c9c9e, #a5a6a9, #aeb0b4, #b4bac0, #b9c6cb, #bdd1d4, #c4dcda);
        display: flex;
        align-items: center;
        justify-content: center;
        .card-img-top{
            padding-top: 20px ;
            height: 10vh;
            width: 5vw;
        }
    }
    .card-title{
        font-size: 1.5rem;
        text-align: center;
        }
    
 }
 .btn-primary{
    display: flex;
    align-items: center;
    justify-content: center;
}
  
    
}







