@import url(https://fonts.googleapis.com/css?family=Roboto:400);

.main-turnos{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/img/Movember-vintage-frame-design-vector-_-premium-image-by-rawpixel_com-_-taus-_-Vintage-frames_-Barber.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.main-turnos__form{
    display: flex;
    flex-direction: column;
    gap:50px;
    margin-left: 20px;
    padding: 60px;
    max-width: 500px;
    background-color: #E7E7E7;
    
    
}
.main-turnos__form__tituloform{
    font-size: 2rem;
    text-align: center;
}

.boton{
    display: block;
    background-color: #0095eb;
	padding: 10px 45px 10px 45px;
	border: 0;
	font-size: 1em; 
	color: 	white;
    font-family: "Roboto", sans-serif;

}
 