@media (max-width:768px){
    
    .gridcontainer{
        display: grid;
        grid-template-areas:
            "header"
            "main"
            "footer";
        grid-template-columns: 100%;
        grid-template-rows: 4% 70% 70%;
    }
    .cabecera {
        height: auto;
        grid-area: header;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        position:static;
        background-color: $color-primario;
      
        
    }
 
     main {
        grid-area: main;
     }
    
    
     .mindex{
        height:100%;
      
     }
    
     .mlabarberia{
        display: flex;
        flex-direction: column;
        .mlabarberia__historia{
         width: 100%;
         height: 40vh;
      }
      .mlabarberia__imagen{
         width: 100%;
         height: 100vh;
     
      }
     }
  
    
    
    .mgaleria{
        .mgaleria__formato{
        display: flex;
        flex-direction: row;
        height: auto;
        
        
        
        .mgaleria__formato__item{
         height: 15vh;
         width: 40vw;
      }
     }
   }
    
    


   .servicios{
    height: 250vh;
     .servicios__cards{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        row-gap: 40px;
        
     }
    
     
   }
    footer {
        grid-area: footer;    
    }
    
    .piedepagina{
        display: flex;
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 10px 0;
    }
    
    
    }