$color-primario:black ;
$color-secundario:white ;
$color-texto: white;
$center : center;


$bordes:(
    border-radius-cincopx :  5px,
    border-radius-diezpx:  10px,
    border-radius-quincepx:  15px,)