@import url('https://fonts.googleapis.com/css2? family= Anton & family= Indie+Flower & family= Roboto:wght@300 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'anton', sans-serif;
    font-weight: 400;
}
.cabecera{
    display: flex;
    flex-direction: row;
    position: sticky;
    justify-content:center ;
    align-items: center;
    background-color: rgb(10, 10, 10);  
    height: 20vh;
    
      
}

.logo{
    width: 40%;
}

.navmenu{
    width: 70%;
}

.ul{
    display: flex;
    justify-content: space-evenly;
}

.listaitem{
    list-style: none;
}

.linknav{
    text-decoration: none;
    color: rgb(247, 243, 243);
  
}

.linknav:hover{
    color: gray;
    transition: 0.3s;
}


.turnos{
    text-decoration: none;
    border-style: solid;
    background-color: rgb(209, 76, 76);
    color:white;    
   
}
.turnos:hover{
    color:rgb(155, 56, 56);
    transition: 0.5s;
}
    



